#ParameterBox {
    position: relative;
    float: left;
    width: 35%;
    height: 100vh;
    background-color: #B9D7D9
;
}#OutputBox {
    position: relative;
    float: right;
    width: 65%;
    height: 100vh;
    background-color: white;
}#InputVisualization {
    position: relative;
    float: right;
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid black;
    background-color: white;
    overflow: scroll;
}#OverallVisualization {
    position: relative;
    float: right;
    width: 100%;
    height: 50vh;
    background-color: white;
}
/*This is to style the headings within each tab, e.g. Water, Fuel, etc.*/
.ParameterHeading {}
Add Comment